.accordion
{
	position: relative;
	background-color: transparent;
	height: 300px;
	width: 150px;
	border: 1px solid #6699ff;
}

.fold
{
	margin-bottom: 1px;
	font-family: sans;
}

.fold-head
{
	width: 100%;
	background-color: #6699ff;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.fold-body
{
	color: #6699ff;
	height: 200px;
	display: none;
	overflow: auto;
}

.inactivefold
{
	display: none;
}

.activefold
{
	display: block;
}
