/* base style sheet for boon */

/*
	
	some of this has been inspired by Lokesh Dhakar's
	Lightbox v2 stylesheets. http://lokeshdhakar.com

*/

/*

TOC

1. layout
2. typography

*/

/* layout */

body {
	background-color: #363636;
	padding: 0;
	margin: 0;
}

#topband {
	position: fixed;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 10px;
	background-color: #6883b0;
}

#ovl {
	position: fixed;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
	opacity: 0.0;
}

#frame1 {
	position: absolute;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: auto;
	width: 70%;
	height: 300px;
	background: #1a1a1a;
	border: 2px solid #000000;
	display: none;
	opacity: 0.0;
}

#frame1 img {
	margin-top: 10px;
	margin-left: 10px;
}


#header {
	display: block;
	height: 234px;
	left: 0;
	top: 0px;
	max-width: 800px;
	margin: auto;
	background: url('Img/navbg.png') repeat-x 50% 100%;
	border-top: 5px solid #7892C3;
}

#navbar-container {
	display: block;
	max-width: 800px;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#navbar {
}

#container {
	clear: both;
	display: block;
	width: 100%;
	margin: 0;
/* 	background: url('Img/midband.png') repeat-x; */
}

#main-text {
	max-width: 770px;
	/*
	min-width: 850px;
	*/
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 100px;
	border-bottom: 3px solid #7892C3;
	margin: auto;
	/*background: url('Img/midband.png') repeat-x;*/
}

.sidebar {
	float: right;
	width: 300px;
	margin-bottom: 10px;
}

#footer {
	margin: auto;
	max-width: 800px;
}

/* typography */

/* header */

#header {
	color: #666666;
	background-image: url('Img/ponte-2.jpg');
}

#header h1 {
	max-width: 800px;
	text-align: right;
	font-family: Purisa, Ubuntu, Papyrus, Skia, Optima, Monaco, Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
	letter-spacing: 0.4em;
	text-transform: none;
	text-shadow: #888888 4px 4px 4px;
	padding: 6px 2px 0 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
}

#header h1 em {
	color: #6883d0;
}

#header p {
	text-align: right;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 0.8em;
	color: #ebebeb;
	text-shadow: black 0 0 8px;
	padding: 0 10px 10px 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 1px;
	max-width: 800px;
}

.pers {
	float: right;
	margin-right: 140px;
	opacity: 0.2;
}


/* navbar */

#navbar {
	padding: 0;
	text-align: center;
	font-family: Skia, sans-serif;
	font-size: 0.8em;
	letter-spacing: 0.3em;
	/*height: 60px;*/
	/*line-height: 1.5em;*/
}

#navbar ul {
	max-width: 800px;
	/*
	min-width: 880px;
	*/
	display: block;
	list-style-type: none;
	padding: 0;
	margin: auto;
}

#navbar ul li {
	display: block;
	float: left;
	background-color: #999999;
	border-top: 2px solid #363636;
	border-left: 2px solid #363636;
	border-right: 2px solid #363636;
	margin: 0;
}

#navbar ul li a {
	text-decoration: none;
	display: block;
	width: 90px;
	color: #ffffff;
	margin: 0;
	text-shadow: #6883b0 0px 0px 4px;
	/*background: #ececec;*/
}

#navbar ul li a:hover {
	font-weight: bold;
	/*background-color: #787878;*/
	color: #1a1a1a;
	text-shadow: #ffffff 0px 0px 6px;
	/*border-left: 2px solid #aaaaaa;*/
}

#navbar ul li a:active {
	color: #ffffff;
	text-shadow: #363636 0px 0px 4px;
	/* border-left: 2px solid #ffffff; */
}

#navbar li.activepg {
	font-weight: bold;
	color: #363636;
	background-color: #ffffff;
	border-left: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	text-shadow: none;
}

#navbar li.activepg a {
	font-weight: bold;
	color: #888888;
	background-color: #ffffff;
	text-shadow: none;
/* 	text-shadow: #000000 0px 0px 4px */
}

/* sidebar */
.sidebar {
	background-color: #333333;
	color: #ffffff;
}


/* main-text */

#main-text {
	text-align: left;
	font-family: Skia, Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 0.8em;
	line-height: 2.0em;
	color: #363636;
	background: url('Img/navbg.png') repeat-x;
/* 	background-image: url('Img/navbg.png') repeat-x; */
	background-color: #ececec;
	/*background-color: #cce6ff;*/
}

#main-text h1 h2 h3 {
	font-family: Skia, Verdana, Arial, Impact, sans-serif;
}

#main-text h1 {
	text-transform: uppercase;
	font-size: 2.0em;
	letter-spacing: 0.1em;
	color: #ffffff;
	margin: 0px;
	padding: 2px;
	text-indent: 0px;
}

#main-text h2 {
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	color: #ffffff;
	margin: 0px;
	padding: 2px;
	text-indent: 0px;
}

#main-text h3 {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color: #ffffff;
	margin: 0px;
	padding: 2px;
	text-indent: 0px;
}

#main-text p {
	text-indent: 20px;
}

#main-text a {
	text-decoration: none;
	font-weight: bold;
	color: #8ab8e6;
}

#main-text a:visited {
	color: #363636;
}

#main-text a:hover {
	color: #363636;
	text-shadow: #1a1a1a 0 0 4px;
}

#main-text ol, ul {
	margin: 0.5em 0 1.2em 2em;
	line-height: 1.7em;
}

.greet {
	text-indent: 0px;
}

.section {
	border-top: 2px solid #cccccc;
	padding: 1.4em 0 3.2em 0;
	overflow: auto;
}

.first {
	border-top: none;
	padding-top: 2em;
}

.img-frame {
	/*
	border: 1px solid #000000;
	*/
	border-bottom: 2px solid #7892C3;
	background-color: #363636;
	padding: 5px;
	text-align: center;
	color: #aaaaaa;
}

.left {
	float: left;
	margin-right: 7px;
}

.right{
	float: right;
	margin-left: 7px;
}

.hor{
	width: 244px;
}

.vert{
	width: 182px;
}

#footer {
	padding-right: 5px;
	text-align: right;
	font-family: monospace;
	font-size: 0.8em;
	color: #aaaaaa;
}
