.fold
{
	padding-top: 1px;
}

.fold:first-child
{
	padding-top: 0px;
}

.fold-head
{
	width: 100%;
	background-color: #6699ff;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.fold-body
{
	position: relative;
	color: #6699ff;
	display: none;
	overflow: auto;
}

.fold-body p
{
	font-family: sans;
}
