.imgpane
{
	position: relative;
	display: none;
	text-align: center;
	height: 346px;
	width: 606px;
	margin: auto;
}

.imgpane img
{
	position: relative;
	top: 3px;
	max-height: 320px;
	max-width: 560px;
	margin: auto;
	border: 9px solid black;
}
