.imgpane
{
	position: relative;
	background-color: transparent;
	display: none;
	text-align: center;
	z-index: 2;
	height: 346px;
	width: 606px;
	margin: auto;
	border: 3px solid #363636;
}

.imgpane-bg
{
	position: absolute;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background-color: #1a1a1a;
	opacity: 0.8;
}

.imgpane img
{
	position: relative;
	top: 3px;
	max-height: 320px;
	max-width: 560px;
	margin: auto;
	border: 9px solid black;
}

.imgpane-br-bg
{
	position: relative;
	margin: auto;
	height: 100px;
	width: 600px;
	background-color: #1a1a1a;
	border: 3px solid #363636;
	opacity: 0.8
}

.imgpane-br
{
	position: relative;
	margin: auto;
	height: 100px;
	width: 600px;
	background-color: transparent;
	opacity: 1;
}

.imgpane-br img
{
	position: relative;
	max-height: 96px;
	margin: 2px;
}
