.slbrpane
{
	position: relative;
	height: 76px;
	width: 606px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
	text-align: center;
}

.slbrpane-button
{
	position: relative;
	height: 70px;
	width: 20px;
	background-color: transparent;
	margin: 3px;
}

.slbrpane-lb
{
	float: left;
}

.slbrpane-rb
{
	float: right;
}

.slbrpane img
{
	clear: none;
	position: relative;
	max-height: 66px;
	margin: 5px;
	cursor: pointer;
}

.slbrpane a
{
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 8px;
	font-size: 2.5em;
	color: #363636;
	text-decoration: none;
}

.slbrpane a:hover
{
	color: #6699ff;
}
